Xft.dpi: 96
Xft.autohint: 1
Xft.hintstyle:  hintlight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: none

xterm*termName: xterm-256color
xterm*locale: true

! xterm*faceName: xft:Iosevka
! xterm*faceStyle: Medium
! xterm*facePixelSize: 10
! xterm*renderFont: true

xterm*font: xft:Iosevka:antialias=true:pixelsize=13

! make Alt-f work
*xterm*metaSendsEscape: true

! increase / decrease font size in terminal
xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)


! Molokai theme
*background: #101010
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0



Emacs.FontBackend: xft
Emacs.Font : Iosevka-10.5
